# Ignore node stuff
node_modules/
yarn-error.log

# Ignore build stuff
cache/
build/
dist/
deployments/hardhat/

# Hardhat cache
cached/

# Ignore solc bin output
bin/

# Others
.env
.DS_Store
.vscode

# Reports
/reports


.graphclient

# Ignore tx-builder files
tx-builder-*.json
!tx-builder-template.json
